{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <form method="post" enctype="multipart/form-data" class="form-floating">
                <div class="card">
                    <div class="card header">
                        <h4>Рассылка</h4>
                        <div class="card body">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="col-6">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {% if object %}
                        Сохранить
                        {% else %}
                        Добавить рассылку
                        {% endif %}

                    </button>
                    <a href="{% url 'mail_sender:mailing_list' %}" class="btn btn-secondary">Назад</a>

                </div>
            </form>

        </div>
    </div>


    {% endblock %}