<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Добавить товар</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data" class="form-floating">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-6">
            <div class="card">
                <div class="card header">
                    <h4>Вход</h4>
                    <div class="card body">
                        {% csrf_token %}
                        {{ form.as_p }}


                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    Войти
                </button>
                <a href="{% url 'users:forgot_password' %}" class="btn btn-warning">
                    Забыли пароль?
                </a>
            </div>

        </div>

    </div>

</form>
{% endblock %}