<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Форма пользователя</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% extends 'base.html' %}
{% block content %}

<form method="post" enctype="multipart/form-data" class="form-floating">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col-6">
            <div class="card">
                <div class="card header">
                    <div class="card body">
                        На указанный вами адрес электронной почты отправлено письмо для завершения регистрации.
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>
{% endblock %}